.itemContain {
  background-color: white;
  color: #333;
  margin: 0 10px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  overflow: hidden;
  max-height: 200px;
  border-bottom: 1px solid #ddd;
}
.image {
  width: 70px;
  height: 70px;
  background: #ddd;
  object-fit: cover;
  margin: 5px;
  border-radius: 35px;
}
.infoContain {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  text-align: left;
  padding: 10px;
  overflow: hidden;
}
.name {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 20px;
  color: #9966FF;
  background: -webkit-linear-gradient(110deg, #9966FF, #3399FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.desc {
  margin: 0 0 6px;
  overflow: hidden;
  -webkit-line-clamp: 2;
  font-size: 14px;
  line-height: 17px;
  height: 34px;
}
.bottomContain {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 20px;
  flex: 1;
  overflow: hidden;
}
.bottomIcon {
  margin: 0;
}
.bottomLabel {
  margin: 0 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  white-space: nowrap;
}
