.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  background: white;
}
.headerItem {
  margin: 0 15px;
  background: -webkit-linear-gradient(110deg, #9966FF, #3399FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
