.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  color: white;
  background: rgba(0,0,0,0.1);
}
.headerItem {
  margin: 0 15px;
}
