.mainView {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  /*height: 88vh;*/
  height: 90vh;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
  background-color: white;
}
