.profileContain {
  display: flex;
  flex-direction: column;
  padding-top: 55px;
}
.profileHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 30px 20px;
  box-sizing: border-box;
}
.profileImage {
  height: 80px;
  width: 80px;
  border-radius: 40px;
  object-fit: cover;
}
