.tabsContain {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.tabContain {
  /*height: 12vh;*/
  height: 10vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(255,255,255,0.7);
  border-bottom: 5px solid transparent;
  box-sizing: border-box;
}
.activeTab {
  color: white;
  border-bottom: 5px solid white;
}
.tabIcon {
  /*margin: 10px 0 0;*/
  margin: 0;
  font-size: 5vh;
}
.tabLabel {
  margin: 0 0 10px;
  font-size: 2vh;
}
